body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative; 
}

.logo {
    width: 150px; 
    height: auto; 
    position: absolute; 
    top: 20px; 
    left: 20px; 
}

.approve-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.record-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.record-box {
    background-color: #f9f9f9; 
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.record-box p {
    margin: 10px 0;
}

.approve-btn {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deny-btn {
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.approve-btn:hover, .deny-btn:hover {
    background-color: #3e8e41; 
}

.form-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.update-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-form p {
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
